# Virtual environment
venv/
env/
.venv/
*.env

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info

# Test and coverage reports
.coverage
*.cover
*.hypothesis/
*.tox/

# IDEs
.idea/
.vscode/

# MacOS
.DS_Store

# Logs
*.log
node_modules/
